body {
	background: #fff;

}

a {
	text-decoration: none;
}

#header {
	color: #333;
	margin: 0 auto 30px;
	text-align: center;
}
#header img {
	display: block;
	margin: 0px auto 0;

}

#container {
	width: 1200px;
	height: 200px;
	margin: 50px auto 160px;
}

#left {
	width: 400px;
	background: blue;
	float: left;
}

#right {
	background: red;
	width: 300px;
	color: #333;
}

#clear {
	clear: both;
}

#footer {
	margin: 100px auto 0;
	text-align: center;
}
